.card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;

  p {
    width: 200px;
    text-align: center;
  }

  & + div {
    margin-left: 24px;
  }

  @media (max-width: 975px) {
    & + div {
      margin: auto;
    }
  }

  @media (max-width: 600px) {
    & + div {
      margin: auto;
    }
  }
}
