* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --yellow-100: #ffdb70;
  --yellow-300: #ffc71f;

  --borrow: #291f00;
  --black: #140f00;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
