.container {
  margin-top: 32px;
}

.container_title {
  margin: 16px 0px;
}

.linked_list_wrapper {
  display: flex;
  justify-items: center;
}

@media (max-width: 600px) {
  .linked_list_wrapper {
    flex-direction: column;
  }
}
