.button__wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;

  button {
    background-color: var(--yellow-100);
    padding: 16px 16px;
    width: 124px;
    border: none;
    border-radius: 8px;
    color: var(--black);
    & + button {
      margin-left: 16px;
    }
  }
}

.list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  width: 400px;

  @media (max-width: 600px) {
    width: 300px;
  }
}

.list__title {
  font-weight: 600;
}
